* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ECF4FF;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #ef9a9a;
}

::-webkit-scrollbar-thumb {
  background-color:#c62828;
}
